<a href="https://colab.research.google.com/github/Oke-Dolapo/my_code_training_python/blob/main/assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a Python program that multiplies all the items in a list.

Sample list= [2, 3, 6]

Result = 36

In [3]:
sample_list =[2,3,6]
result = 1
for i in sample_list:
  result *= i #mutiple the result  by iteration 1*2=2 then result changes and it is 2*3=6..etc
  print(result)

2
6
36

Write a Python program to get a list, sorted in increasing order by the last element in each tuple, from a given list of non-empty tuples.

Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

Expected result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

Hint: You can use the sort function.

In [29]:
sample_list = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
def get_last_number(tup): #start a function with def pointing out using tuples
  return tup [-1] #return should be the last of each tuples
sample_list.sort(key = get_last_number) #then sort it using the formula created
print(sample_list)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

Write a Python program that combines two dictionaries by adding values for common keys.

d1 = {'a': 100, 'b': 200, 'c':300}

d2 = {'a': 300, 'b': 200, 'd':400}

Expected result: {'a': 400, 'b': 400, 'd': 400, 'c': 300}

In [31]:
d1 = {'a': 100, 'b': 200, 'c':300}

d2 = {'a': 300, 'b': 200, 'd':400}
combine ={}
for key in d1:
  combine[key]= d1[key]+d2.get(key,0) #using .get for d2 is because it gives error if all keys doesn't match. now with get any key that isn't in both dict. use 0 instead.
for key in d2:
    if key not in combine:
        combine[key]= d2[key] #instruction is to just add the ones not found on both list to combine list
print(combine)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

With a given integral number n, write a program to generate a dictionary that contains (i, i*i) so that is an integral number between 1 and n (both included). Then the program should print the dictionary. Suppose the following input is supplied to the program: 8. Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [38]:
n = 8
dict1 ={}
for i in range (1, n+1): #this is for the numbers to count from 1 to 8. if we use only n it will stop @7 but +1 turns it to 9 and we could also just type 9 but if value in n is changed then the formula won't be correct anymore
  dict1[i]= i*i #this is dict1 key should be the range of 1 to it that's why used dict[i] then the key value should be the key * the key.
print(dict1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Write a program to sort a tuple by its float element.

For example: list= [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]

Expected result: [('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [40]:
from typing_extensions import OrderedDict
list = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
def ordered_list(tup):
  return float(tup[-1]) #turning the tup to float so that it can calcuate down to the decimeral values
list.sort(key = ordered_list, reverse=True) #the reverse turned it backwards
print(list)

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

Write a Python program to create a set.

Examples : {0, 1, 2, 3, 4}

Write a Python program to iteration over sets.

Write a Python program to add members in a set and to remove items from a given set.

In [48]:
s1 = {0, 1, 2, 3, 4}
for i in s1:
  print(i)
s1.add(5) #this is to add
s1.remove(0) #this is to remove
print(s1)

0
1
2
3
4
{1, 2, 3, 4, 5}