<a href="https://colab.research.google.com/github/Oke-Dolapo/my_code_training_python/blob/main/Classwork.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a for loop to print all even numbers from 2 to 20.

In [2]:
for i in range (2,22,2):
  print(i)

2
4
6
8
10
12
14
16
18
20

Use a while loop to keep asking the user to enter a password until they type 'admin123'.

In [7]:
user_password = input("input Password: ")
while True:
  if user_password == "admin123":
    print("Welcome")
    break
  else:
    print("Password is not correct")
    break

input Password: admin123
Welcome

Write a loop that sums all the numbers from 1 to 100.

In [23]:
num = 0
for i in range(1,101):
  num = num + i
  print(num)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

Create a list of student names and use a for loop to greet each student individually.

In [24]:
list_of_student = ["Tolu", "Titi","Kola","Bolu"]
for i in list_of_student:
  print("Hello " + i)

Hello Tolu
Hello Titi
Hello Kola
Hello Bolu