<a href="https://colab.research.google.com/github/Oke-Dolapo/my_code_training_python/blob/main/Learning_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Instructions :
# Create a list of products, 'Apple', 'Banana', 'Carrot', 'Daikon'.
# Convert the list into a pandas Series using the pd.Series() function.
# Print out the new Series to see the values.
# Create a Series with prices of the products, [2, 1, 3, 4]
# Print out the new Series to see the values.
# Add the two Series together and print out the result.
# Create a DataFrame using a dictionary of lists, where the keys are 'Product' and 'Price' and the values are the two Series you created.
# Print out the DataFrame to see the values.
# Create a DataFrame using a list of dictionaries, where each dictionary represents a row in the DataFrame with keys 'Product' and 'Price' and values from the two Series you created.
# Print out the DataFrame to see the values. Make sure to import pandas library before doing the exercises.

In [1]:

import pandas as pd

products = ["Apple", "Banana", "Carrot", "Daikon"]
products_in_column = pd.Series(products)
print(products_in_column)
product_prices = [2, 1, 3, 4]
product_prices_column = pd.Series(product_prices)
print(product_prices_column)
both_series = pd.concat([products_in_column, product_prices_column])
print(both_series)
products_dict = {
    "Product_name": products_in_column,
    "product_prices": product_prices_column
}
table_of_products = pd.DataFrame(products_dict)
print(table_of_products)

0     Apple
1    Banana
2    Carrot
3    Daikon
dtype: object
0    2
1    1
2    3
3    4
dtype: int64
0     Apple
1    Banana
2    Carrot
3    Daikon
0         2
1         1
2         3
3         4
dtype: object
  Product_name  product_prices
0        Apple               2
1       Banana               1
2       Carrot               3
3       Daikon               4